.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

i:hover{
    cursor: pointer;
    font-size: 25px;
}
.card{
  transition: 0.35s ease-in;
}
.card:hover{
  transform: rotateZ(1.5deg) translate(10px, 5px);
  box-shadow: #006466 0px 20px 30px -10px;
  border-radius: 25px;
  cursor: pointer;
}
.dropdown-item{
    color: rgb(216, 213, 213);
}